<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
<meta property="og:type" content="website"/>
<meta name="description" content="{{ .Summary }}" />
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:image" content="{{ .Image }}"/>
<meta property="og:url" content="{{ .ShareLink }}"/>
<title>{{ .Title }}</title>
<style media="all" type="text/css">
html, body, div, iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: 100%;
  height: 100%;
  font: inherit;
  vertical-align: baseline;
}
iframe {
  display: block;
}
</style>
</head>
<body>
  <div>
    <iframe frameborder="no" src="{{ .Link }}"></iframe>
  </div>
</body>
</html>