<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
<meta property="og:type" content="website"/>
<meta name="description" content="{{ .Summary }}" />
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:image" content="{{ .Image }}"/>
<meta property="og:url" content="{{ .ShareLink }}"/>
<title>{{ .Title }}</title>
{{ if not .IsWx }}
<style media="all" type="text/css">
html, body, div, iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: 100%;
  height: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {overflow: hidden;}
iframe {
  display: block;
}
</style>
{{ else }}
<script language="javascript" type="text/javascript">
    window.location.href = '{{ .Link }}';
</script>
{{ end  }}
</head>
<body>
  {{ if not .IsWx }}
  <iframe src="{{ .Link }}" width='100%' height='100%' frameborder='0'></iframe>
  {{ end }}
</body>
</html>