<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
<meta property="og:type" content="website"/>
<meta name="description" content="{{ .Task.Summary }}" />
<meta property="og:title" content="{{ .Task.Title }}"/>
<meta property="og:image" content="{{ .Task.Image }}"/>
<meta property="og:url" content="{{ .Task.ShareLink }}"/>
<title>{{ .Task.Title }}</title>
{{ if .Task.InIframe }}
<link rel="stylesheet" href="https://ucoin.tianxi100.com/ucoin-share.css"/>
{{ end  }}
<script>
var _mtac = {};
(function() {
  var mta = document.createElement("script");
  mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
  mta.setAttribute("name", "MTAH5");
  mta.setAttribute("sid", "500659509");
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(mta, s);
})();
</script>
</head>
<body>
  {{ if .Task.InIframe }}
  <div class="container">
    <a href="{{ .InviteLink }}">
      <div id="banner">
        <img src="https://ucoin.tianxi100.com/tmm/icon512x512.png" class="logo"/>
        <div class="title">
          下载友币APP，阅读、分享、做任务都能挣钱！
          <div class="downloadbtn">马上下载得红包</div>
        </div>
      </div>
    </a>
    <iframe src="{{ .Task.Link }}" frameborder='0'{{ if .IsIOS }} scrolling='no' {{ end }}></iframe>
  </div>
  {{ end }}
</body>
<script>
  var tmmImg = '{{ .ImpLink }}?track_id={{ .TrackId }}';
  {{ if .Task.InIframe }}
  var targetLink = false;
  {{ else if .ValidTrack }}
  var targetLink = '{{ .Task.Link }}';
  {{ else }}
  window.location = '{{ .Task.Link }}';
  {{ end }}
</script>
{{ if .ValidTrack }}
<script src="https://ucoin.tianxi100.com/ucoin-share.js"></script>
{{ end }}
</html>
